<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    by <a href="http://www.digitalblb.com/">DigitalBLB 2016</a>
  </small>
  <div class="col col40 col1--s">
      <nav>
    <ul>
        <h2>COMPANY</h2>
        <li><%= link_to "About", about_path %></li> 
        <li><%= link_to "Terms", terms_path %></li>
        <li><a href="http://news.railstutorial.org/">News</a></li>
        <li><%= link_to "Blog", '#' %></li>
        <li><%= link_to "Careers", '#' %></li>
        <li><%= link_to "Policies", '#' %></li>
    </ul> 
   </nav>
   </div>
</footer>