<section class="jumbotron">
		<div class="table">
			<div class="table-cell text-center textcolor--white">
  <h1 class="h1 jumbotron__header robotoslab">PARADISE BELOW</h1>
<h2>
    This is the home page for the<br>
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>
</section>


<section id="approach" class="approach">
<div class="container">
			<h2 class="h1 robotoslab text-center">We serve quality products<br>that enrich the lives of others</h2>
			<p class="p1 robotoslab text-center">This is some copy</p>
			<div class="row">
      <div class="col col3 col1--s">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<h3>Booking</h3>
					</div>
					<p class>The first step is to discover more about you, your company's vision, and to build a strong relationship. This is where we will create your brand, create a custom strategy, and set project and destination goals.</p>
				</div>
				<div class="rel col col3 col1--s approach__package">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<p class="h3 robotoslab">Package</p>
					</div>
					<p class="mobile-text-center">Following the initial booking, we will outline your project, create milestones, and agree on flight path priorities. Now we have a strategic flight in place that aligns with your vision and makes your goals achievable.</p>
				</div>
				<div class="col col3 col1--s">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<p class="h3 robotoslab text-center">Destination</p>
					</div>
					<p class="mobile-text-center">Here is where we present your custom destination. Upon arrival, your custom flight path will take off. Then sit back and enjoy the flight!</p>
				</div>
			</div>

		
			<h2 class="h1 robotoslab text-center">NEXT SECTION<br>that enrich the lives of others</h2>
			<p class="p1 robotoslab text-center">DIFFERENT LAYOUT</p>
			<div class="row">
      <div class="col col70 col1--s">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<h3>Booking</h3>
					</div>
					<p class>The first step is to discover more about you, your company's vision, and to build a strong relationship. This is where we will create your brand, create a custom strategy, and set project and destination goals.</p>
				</div>
				<div class="rel col30 col col1--s approach__package">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<p class="h3 robotoslab">Package</p>
					</div>
					<p class="mobile-text-center">Following the initial booking, we will outline your project, create milestones, and agree on flight path priorities. Now we have a strategic flight in place that aligns with your vision and makes your goals achievable.</p>
			</div>
      <div class="col col3 col1--s">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<h3>Booking</h3>
					</div>
					<p class>The first step is to discover more about you, your company's vision, and to build a strong relationship. This is where we will create your brand, create a custom strategy, and set project and destination goals.</p>
				</div>
				<div class="rel col col3 col1--s approach__package">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<p class="h3 robotoslab">Package</p>
					</div>
					<p class="mobile-text-center">Following the initial booking, we will outline your project, create milestones, and agree on flight path priorities. Now we have a strategic flight in place that aligns with your vision and makes your goals achievable.</p>
				</div>
				<div class="col col3 col1--s">
					<div class="text-center">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						</div>
						<p class="h3 robotoslab text-center">Destination</p>
					</div>
					<p class="mobile-text-center">Here is where we present your custom destination. Upon arrival, your custom flight path will take off. Then sit back and enjoy the flight!</p>
				</div>
			</div>
			</div>
</section>


		<div class="container">
		<div class="row approach__specialise">
			<div class="col col1 col1--s col1--m approach__specialise--col2 textcolor--white">
				<div class="row">
					<div class="table-cell">
						<div class="approach__icon">
							<%= link_to image_tag("dive200x300.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
						<div class="approach__specialise__leftcopy mobile-text-center">
							<p class="h3 robotoslab mobile-text-center">SHARE YOU DIVE AND BECOME A HOST.</p>
							<p class="p robotoslab mobile-text-center">Here is some copy.</p>
							<a class="btn btn--crusta" href="services">BE OUR PARTNER</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

		
